:root {
    --faded-1: #FBF9F3;
    --faded-2: #89D1D9;
    --faded-3: #8EA4AB;
    --faded-4: #F27272;
    --faded-5: #A66F74;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spline Sans', sans-serif;
}

.faded1 {
    background-color: var(--faded-1);
}

.faded2 {
    background-color: var(--faded-2);
}

.faded3 {
    background-color: var(--faded-3);
}

.faded4 {
    background-color: var(--faded-4);
}

.faded5 {
    background-color: var(--faded-5);
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.navBar {
    padding: 10px 20px;
    border-bottom: 1px solid black; 
    box-shadow: 0px 0px 7px 0px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.container > a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.budget {
    font-size: 25px;
}

.dataBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 40px;
    margin: 5px 0px;
    border: 1px solid var(--faded-3);
    border-radius: 15px;
}

.dataBox:active {
    background-color: var(--faded-3);
}

.purchaseItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 40px;
    margin: 5px 0px;
}

.lower {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower > button {
    margin-bottom: 10px;
}

.styledButton, .lower > a {
    border: 1px solid black;
    background-color: var(--faded-3);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
}

.styledButton > *, .lower > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;;
}

.loaderContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareLoader {
    --c:linear-gradient(var(--faded-3) 0 0);
    background: 
      var(--c) 0 0,
      var(--c) 0 50%,
      var(--c) 0 100%,
      var(--c) 50% 0,
      var(--c) 50% 50%,
      var(--c) 50% 100%,
      var(--c) 100% 0,
      var(--c) 100% 50%,
      var(--c) 100% 100%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    animation: sh1 .5s infinite alternate;
  }
  
  @keyframes sh1 {
    0%,20%  {width:45px;height: 45px}
    90%,100%{width:65px;height: 65px}
  }